/cfg/
/bin/
/lib/
/doc/
/db/
/dbd/
/html/
/include/
/templates/
/RELEASE_SITE.local
!/RELEASE_SITE.local.template
/configure/*.local
!/configure/*.local.template
*~
O.*/
*.swp
cdCommands
envPaths
dllPath.bat
.memory
bin/
test/run/*
PROCESS_LOG*